<section class="inner-modal">
  <article class="card-modal">
    <h2 class="card-title"> <%= card.escape("title") %> </h2>
    <section class="card-description">
      <%= card.escape("description") %>
    </section>
    <h4> Current Items </h4>
    <ul class="items">


    </ul>
    <button class="close"> Close </button>
  </article>
</section>
