
<form action="<%= track_note_url(track) %>" method="post">
  <%= authentic_form %>
  <label>Type your note here!</label>
  <textarea name="note[body]" rows="8" cols="40"></textarea>
  <br>
  <button>Save this note!</button>
</form>
